BOT_TOKEN=
TELEGRAM_RELAY_URL=
TELEGRAM_RELAY_WEBHOOK_URL=
TELEGRAM_RELAY_TOKEN=
TELEGRAM_RELAY_PIN=
WEBHOOK_URL=
WEBHOOK_SECRET=
WELCOME_IMAGE_RELAY_URL=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASS=
DB_INIT_TOKEN=
SQLITE_IMPORT_PATH=data/uniflow.db
CRON_TOKEN=
TIMEZONE=
CUSTOM_EMOJI_ENABLED=
GIGACHAT_ENABLED=
GIGACHAT_AUTH_KEY=
GIGACHAT_SCOPE=
GIGACHAT_MODEL=GigaChat-2
GIGACHAT_BASE_URL=
GIGACHAT_CA_BUNDLE=certs/russian_trusted_root_ca.pem
CALENDAR_PUBLIC_URL=
